# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\python3\works\first-python3-webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
